* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Theme colors */
:root {
    --background-color-main:        white;
    --background-color-chat:        lightgray;
    --text-color-main:              gray;
    --text-color-chat:              black;
    --text-color-headline:          black;
    --outer-padding:                1em;
    --background-color-add-item:    blue;
    --text-color-add-item:          white;
}

body {
    background-color: var(--background-color);
    font-size: 20px;
}

.headline {
    color: var(--text-color-headline);
    margin: 0 0 20px 0;
    font-size: 26px;
    font-weight: bold;
}

.wrapper {
    /* border: 2px solid blue; */
    height: 100vh;
    padding: var(--outer-padding);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color-main);
}

.row {
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 0 0 10px 0;
}

.check {
    width: 30px;
    height: 30px;
}

.add-item-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.add-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--background-color-add-item);
    color: var(--text-color-add-item);
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.add-item-button div {
    font-size: 2em;
    font-weight: bold;
}

.heading-with-close-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.heading-with-close-button div {
    margin-left: auto;
}

#add-item-close-button {
    font-weight: bold;
    cursor: pointer;
}

.add-item-input-box {
    display: none;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    border: 2px solid black;
    width: 80%;
    height: auto;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    background-color: var(--background-color-main);
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    padding: 20px;
}

.inputs-wrapper {
    display: flex;
}

.add-item-input-box input {
    font-size: 1.5em;
    width: 90%;
}

.add-item-input-box button {
    font-size: 1.5em;
}

.chat-wrapper {
    /* border: 1px solid red; */
    margin-top: var(--outer-padding);
}

.chat-box {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 15px 5px 15px;
    width: 100%;
    color: var(--text-color-chat);
    height: 150px;
    text-align: left;
    font-size: .8em;
    overflow-y: auto;
}

.chat-box-outer {
    /* border: 1px solid yellow; */
    display: flex;
    flex-flow: column nowrap;
    padding: 4px 15px 10px 0;
    background-color: var(--background-color-chat);
    border-radius: 20px;
}

.chat-input-section {
    display: flex;
    flex-flow: row nowrap;
    margin: 5px 0 0 0;
}

.chat-input-section input,
.chat-input-section button {
    margin: 0 0 0 15px;
}

.chat-input-section input {
    flex: 1;
    height: 25px;
    padding: 2px 5px;
}

.chat-input-section button {
    width: 50px;
    margin: 0 20px 0 10px;
}

.chat-line {
    margin: 0 0 10px 0;
}













@media (min-width: 800px) {
    .check {
        width: 50px;
        height: 50px;
    }

    .wrapper {
        font-size: 1.6em;
    }
}