* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #444;
    height: 100vh;
    padding: 20px;
}

h3 {
    margin: 0 0 20px 0;
}
.wrapper {
    /* border: 2px solid green; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
}

.row {
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 0 0 10px 0;
}

.check {
    width: 30px;
    height: 30px;
}

.chat-wrapper {
    /* border: 1px solid red; */
    margin: auto 0 0 0;
}

.chat-box {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 15px 5px 15px;
    width: 100%;
    color: black;
    height: 150px;
    text-align: left;
    font-size: .8em;
    overflow-y: auto;
}

.chat-box-outer {
    padding: 4px 15px 4px 0;
    background-color: #ccc;
    border-radius: 20px;
}

.chat-line {
    margin: 0 0 10px 0;
}